*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0%;
}


#Home {
    padding-top: 5rem;
    margin-bottom: auto;
    background-color: #e2edff;
}

.jumbotron{
    padding-top: 2rem;
    background-color: #7bc2e2;
}

#About {
    padding-top: 5rem;
    background-color: #7bc2e2;
}

#Skill {
    padding-top: 5rem;
    background-color: #fee190;
}

section {
    padding-top: 5rem;
}

#blog{
    padding-top: 5rem;
    background-color: #00cba9;
}

#Medsos {
    padding-top: 5rem;
    background-color: #e7008a;
    text-align: center;
}
.icons a {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .icons .bi {
      padding-right: 3px;
  }
  .icons .instagram {
      background-color: #ac2bac;
  }
  .icons .facebook {
      background-color: #0d3384;
  }
  .icons .whatsapp {
      background-color: #25d366;
  }
  
#kontak {
    padding-top: 5rem;
    background-color: #75a2e9;
}
